[package]
authors = ["Lorenzo Murarotto <lnzmrr@gmail.com>"]
categories = ["web-programming"]
description = "Type safe multipart/form-data handling for axum."
edition = "2021"
keywords = ["axum", "form", "multipart"]
license = "MIT"
name = "axum_typed_multipart"
repository = "https://github.com/murar8/axum_typed_multipart"

[workspace]
members = ["macros"]

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(coverage,coverage_nightly)'] }

[dependencies]
anyhow = "1.0.72"
axum = { version = "0.7.0", features = ["multipart"] }
axum_typed_multipart_macros = { path = "macros" }
bytes = "1.4.0"
chrono = "0.4.37"
futures-core = "0.3.28"
futures-util = "0.3.28"
tempfile = "3.1.0"
thiserror = "1.0.44"
tokio = { version = "1.30.0", features = ["fs", "io-util", "macros", "rt-multi-thread"] }
uuid = "1.0.0"

[dev-dependencies]
axum-test-helper = { version = "0.4.0" }
reqwest = { version = "0.12.5", features = ["multipart"] }
serde = { version = "1.0.193", features = ["derive"] }
