[package]
name = "axum_typed_multipart"
description = "Type safe multipart/form-data handling for axum."
license = "MIT"
repository = "https://github.com/murar8/axum_typed_multipart"
authors = ["Lorenzo Murarotto <lnzmrr@gmail.com>"]
edition = "2021"
version = "0.8.1"
categories = ["web-programming"]
keywords = ["axum", "multipart", "form"]


[workspace]
members = ["macros"]


[dependencies]
anyhow = "1.0.72"
axum = { version = "0.6.20", features = ["multipart"] }
axum_typed_multipart_macros = { version = "0.8.1", path = "macros" }
bytes = "1.4.0"
futures-core = "0.3.28"
futures-util = "0.3.28"
tempfile = "3.7.1"
thiserror = "1.0.44"

[dependencies.tokio]
version = "1.30.0"
features = ["macros", "rt-multi-thread", "fs", "io-util"]


[dev-dependencies]
axum-test-helper = "0.3.0"
reqwest = "0.11.18"
serde = { version = "1.0.183", features = ["derive"] }
