[package]
name = "axum_typed_multipart"
description = "Type safe multipart/form-data handling for axum."
license = "MIT"
repository = "https://github.com/murar8/axum_typed_multipart"
authors = ["Lorenzo Murarotto <lnzmrr@gmail.com>"]
edition = "2021"
version = "0.5.2"
categories = ["web-programming"]
keywords = ["axum", "multipart", "form"]


[workspace]
members = ["macros"]


[dependencies]
anyhow = "1.0.72"
axum = { version = "0.6.19", features = ["multipart"] }
axum_typed_multipart_macros = { version = "0.5.2", path = "macros" }
tempfile = "3.7.0"
thiserror = "1.0.44"

[dependencies.tokio]
version = "1.29.1"
features = ["macros", "rt-multi-thread", "fs", "io-util"]


[dev-dependencies]
common-multipart-rfc7578 = "0.6.0"
futures-util = "0.3.28"
mime = "0.3.17"
tempfile = "3.7.0"
