[package]
name = "axum_typed_multipart"
description = "Type safe multipart/form-data handling for axum."
license = "MIT"
repository = "https://github.com/murar8/axum_typed_multipart"
authors = ["Lorenzo Murarotto <lnzmrr@gmail.com>"]
edition = "2021"
version = "0.3.0"
categories = ["web-programming"]
keywords = ["axum", "multipart", "form"]

[workspace]
members = ["macros"]

[dependencies]
anyhow = "1.0"
axum = { version = "0.6", features = ["multipart"] }
axum_typed_multipart_macros = { version = "0.3.0", path = "macros" }
tempfile = "3.4"
thiserror = "1.0"

[dev-dependencies]
common-multipart-rfc7578 = "0.6"
futures-util = "0.3"
mime = "0.3"
tempfile = "3.4"
tokio = { version = "1.26", features = ["macros"] }
