name: audit

on:
    workflow_dispatch:
    schedule:
        - cron: "0 0 * * MON" # Every Monday at 00:00 UTC
    pull_request:
        branches:
            - main
        paths:
            - "**/Cargo.toml"
            - "**/Cargo.lock"
    push:
        branches:
            - main
        tags:
            - "[0-9]+.[0-9]+.[0-9]+"
        paths:
            - "**/Cargo.toml"
            - "**/Cargo.lock"

jobs:
    audit:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions-rust-lang/audit@v1
              with:
                  denyWarnings: true
