name: lint

on:
    pull_request:
        branches:
            - main
    push:
        branches:
            - main
        tags:
            - "[0-9]+.[0-9]+.[0-9]+"

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - uses: actions/setup-python@v6
              with:
                  python-version: "3.x"
            - uses: actions-rust-lang/setup-rust-toolchain@v1
            - uses: pre-commit/action@v3.0.1
