on:
  pull_request_target:
    branches:
      - main

jobs:
  lint:
    uses: ./.github/workflows/lint.yml

  test:
    uses: ./.github/workflows/test.yml
    secrets: inherit # For the CODECOV_TOKEN
