on:
  push:
    branches:
      - main
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

jobs:
  lint:
    uses: ./.github/workflows/lint.yml

  test:
    uses: ./.github/workflows/test.yml

  publish:
    if: startsWith(github.ref, 'refs/tags/')

    needs:
      - lint
      - test

    env:
      CARGO_REGISTRY_TOKEN: ${{secrets.CARGO_REGISTRY_TOKEN}}

    permissions:
      contents: write
      packages: write
      pull-requests: read

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - uses: Swatinem/rust-cache@v2

      - uses: actions-rs/cargo@v1
        with:
          command: publish
          args: --locked --package axum_typed_multipart_macros

      - uses: actions-rs/cargo@v1
        with:
          command: publish
          args: --locked

      - uses: ncipollo/release-action@v1
        with:
          generateReleaseNotes: true
