name: release

on:
    push:
        tags:
            - "[0-9]+.[0-9]+.[0-9]+"

jobs:
    publish:
        runs-on: ubuntu-latest

        permissions:
            contents: write
            packages: write
            pull-requests: read

        env:
            CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

        steps:
            - uses: actions/checkout@v6
              with:
                  fetch-depth: 0
            - uses: actions-rust-lang/setup-rust-toolchain@v1
            - uses: taiki-e/install-action@v2
              with:
                  tool: cargo-edit
            - run: cargo set-version --workspace ${GITHUB_REF#refs/tags/}
            - run: |
                  # See https://github.com/orgs/community/discussions/40405#discussioncomment-8361451
                  git config user.name "${{ github.actor }}"
                  git config user.email "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"
                  git add -A
                  git commit -m "chore(${{ github.workflow }}): bump version to ${GITHUB_REF#refs/tags/}"
            - uses: lewagon/wait-on-check-action@v1.3.4
              with:
                  ref: ${{ github.ref }}
                  repo-token: ${{ secrets.GITHUB_TOKEN }}
                  running-workflow-name: ${{ github.job }}
            - run: cargo publish --locked --package axum_typed_multipart_macros
            - run: cargo publish --locked
            - uses: ncipollo/release-action@v1
              with:
                  generateReleaseNotes: true
