on:
  workflow_call:

jobs:
  test:
    strategy:
      matrix:
        include:
          - toolchain: beta
            os: ubuntu-latest
          - toolchain: nightly
            os: ubuntu-latest
          - toolchain: stable
            os: macos-latest
          - toolchain: stable
            os: windows-latest

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}

      - uses: Swatinem/rust-cache@v2

      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace --all-features --all-targets

  doctest:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - uses: Swatinem/rust-cache@v2

      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace --all-features --doc

  coverage:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: llvm-tools-preview

      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace --all-features --all-targets
        env:
          CARGO_INCREMENTAL: "0"
          RUSTFLAGS: "-Cinstrument-coverage -Cdebug-assertions=no"
          LLVM_PROFILE_FILE: "target/coverage/coverage-%p-%m.profraw"

      - run: wget -qO- $GRCOV_URL | tar xvj -C "/usr/local/bin"
        env:
          GRCOV_URL: https://github.com/mozilla/grcov/releases/download/v0.8.18/grcov-x86_64-unknown-linux-gnu.tar.bz2

        # grcov is still a bit rough around the edges, so we need to explicitly
        # exclude some of the code from the coverage report.
        # See https://github.com/mozilla/grcov/issues/476
      - run: >
          grcov target/coverage macros/target/coverage
          --source-dir .
          --binary-path target/debug
          --output-type lcov
          --output-path target/coverage/coverage.lcov
          --branch
          --llvm
          --ignore-not-existing
          --ignore '**/tests/**'
          --ignore '**/examples/**'
          --ignore '/*'
          --excl-line '(//(/|!)?|mod [^\s]+;|\#\[derive\()'
          --excl-br-line '(//(/|!)?|mod [^\s]+;|\#\[derive\()'
          --excl-start '^mod tests \{$'
          --excl-br-start '^mod tests \{$'
          --excl-stop '^\}$'
          --excl-br-stop '^\}$'

      - uses: codecov/codecov-action@v3
        with:
          files: target/coverage/coverage.lcov
          fail_ci_if_error: true
