on:
  workflow_call:

jobs:
  test:
    strategy:
      matrix:
        include:
          - toolchain: stable
            os: ubuntu-latest
          - toolchain: beta
            os: ubuntu-latest
          - toolchain: nightly
            os: ubuntu-latest
          - toolchain: stable
            os: macos-latest
          - toolchain: stable
            os: windows-latest

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}

      - uses: Swatinem/rust-cache@v2

      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace --all-features --all-targets
